#root{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
}

.container{
  display: flex;
  flex: 1;
  padding-bottom: 2rem;
}

.title{
  display: flex;
  align-items: center;
  gap: 10px;
}

.books{
  cursor: pointer;
}

@media (max-width: 768px){
  .books{
    display: none;
  }
}

.books svg{
  width: 32px;
  height: 32px;
  stroke: var(--secondary-color);
}

.settings{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search_bar{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  border-radius: 50vh;
  background-color: var(--tertiary-color);
}
.search_bar:focus-within{
  outline: 2px solid var(--red-hue);
}
.search_bar svg{
  cursor: pointer;
}
.search_bar svg:last-child{
  opacity: 1;
}

@media (max-width: 480px){
  .search_bar{
    display: none;
  }
}

.search{
  max-width: 7rem;
  color: var(--white-hue);
  background-color: transparent;
}
.search::placeholder{
  color: rgba(245, 245, 245, .5);
}
.search:focus{
  outline: none;
}

.search_end{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 3.5rem;
}

.search_shortcut{
  margin-right: auto;
  color: var(--white-hue);
  font-size: .7rem;
}

.types{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.types button{
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.types button::after{
  content: "";
  transition: .2s;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
}
.types button:hover::after{
  transition: .2s;
  left: 0;
  width: 100%;
}

@media (max-width: 768px){
  .types{
    display: none;
  }
}

.bookmarks, .log, .animation, .theme{
  display: flex;
  cursor: pointer;
}

.books:hover, .bookmarks:hover, .log:hover, .animation:hover, .theme:hover{
  animation: jiggle .3s linear;
}

@keyframes jiggle{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.infos, .clock{
  position: absolute;
  bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.infos{
  left: 1rem;
}
.clock{
  right: 1rem;
}

.message{
  display: none;
  position: absolute;
  bottom: .7rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  box-shadow: inset 0 0 5px var(--primary-color);
}

.library{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;
  width: 100%;
  height: fit-content;
  padding: 1rem 2rem;
}

@media (max-width: 480px){
  .library{
    gap: 1.5rem;
    padding: 0 1.5rem;
  }
}