#root{
  max-width: 1280px;
  margin: 0 auto;
}

.buttons{
  display: flex;
  gap: 1rem;
}

.library{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem 0 1rem;
}