#root{
  max-width: 1280px;
  margin: 0 auto;
}

.title{
  display: flex;
  align-items: center;
  gap: 10px;
}

.books{
  cursor: pointer;
}
.books svg{
  width: 32px;
  height: 32px;
  stroke: var(--secondary-color);
}

.infos, .clock{
  position: absolute;
  bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.infos{
  left: 1rem;
}
.clock{
  right: 1rem;
}

.settings{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search_bar{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  border-radius: 50vh;
  background-color: var(--tertiary-color);
}
.search_bar:focus-within{
  outline: 2px solid var(--red-hue);
}
.search_bar svg{
  cursor: pointer;
}
.search_bar svg:last-child{
  opacity: 1;
}

@media (max-width: 480px){
  .search_bar{
    display: none;
  }
}

.search{
  max-width: 7rem;
  color: var(--white-hue);
  background-color: transparent;
}
.search::placeholder{
  color: rgba(245, 245, 245, .5);
}
.search:focus{
  outline: none;
}

.types{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.types button{
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px){
  .types{
    display: none;
  }
}

.bookmarks, .log, .animation, .mode{
  display: flex;
  cursor: pointer;
}

.library{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

@media (max-width: 480px){
  .library{
    gap: 1.5rem;
    padding: 0 1.5rem;
  }
}