#root{
  max-width: 1280px;
  margin: 0 auto;
}

.settings{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.library{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.bookmarks, .log, .animation, .mode{
  cursor: pointer;
}

.log{
  margin-top: 4px;
}

.types{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.types button{
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 600px){
  .types{
    display: none;
  }
}