.card_window{
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: 10%;
}

.card_window_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 100%;
  outline: .5rem solid var(--primary-color);
  background-color: rgba(25, 25, 25, .5);
  backdrop-filter: blur(5px);
}
.card_window_content p:first-of-type{
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: bold;
}

.card_window_close{
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
}