.card{
  transition: .1s;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 150px;
  height: 225px;
  filter: grayscale(1);
  color: var(--primary-color);
}
.card:hover{
  transition: .1s;
  filter: grayscale(0);
}
.card img{
  width: auto;
  max-height: 70px;
  border-radius: 3px;
  object-fit: cover;
}

.card_head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  color: var(--red-hue);
  font-size: 1.2rem;
  font-weight: bold;
}
.card_options{
  transition: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0;
}
.card:hover .card_options{
  transition: .1s;
  opacity: 1;
}
.card_options svg{
  cursor: pointer;
}

.card_info{
  transition: .1s;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: var(--tertiary-color);
}
.card:hover .card_info{
  transition: .1s;
  background-color: var(--secondary-color);
}
.card_info p{
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.card_info p:first-child{
  margin-bottom: 5px;
}
.card_info p:not(:first-child){
  text-align: end;
}

.card_bar{
  transition: .3s;
  margin: auto 0 auto auto;
  width: 0;
  height: 2px;
  border-radius: 1px;
  background-color: var(--primary-color);
}
.card:hover .card_bar{
  transition: .3s;
  width: 80%;
}

.card_note{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -1rem;
  left: -1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.card_type{
  transition: .1s;
  position: absolute;
  bottom: -1rem;
  right: 0;
  color: var(--tertiary-color);
  font-size: .8rem;
  font-weight: bold;
}
.card:hover .card_type{
  transition: .1s;
  color: var(--secondary-color);
}