.card{
  box-sizing: content-box;
  transition: .1s;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 150px;
  height: 225px;
  filter: grayscale(1);
  color: var(--primary-color);
  border-bottom: 1rem solid transparent;
}

@media (max-width: 480px){
  .card{
    width: 140px;
  }
}

.card:hover{
  transition: .1s;
  filter: grayscale(0);
}
.card img{
  width: auto;
  max-height: 70px;
  border-radius: 3px;
  object-fit: cover;
}

@media (max-width: 480px){
  .card img{
    height: 80px;
  }
}

.card_head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  color: var(--red-hue);
  font-size: 1.2rem;
  font-weight: bold;
}
.card_options{
  transition: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0;
}
.card:hover .card_options{
  transition: .1s;
  opacity: 1;
}
.card_options svg{
  cursor: pointer;
}

.card_info{
  transition: .1s;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: var(--tertiary-color);
  cursor: pointer;
}
.card:hover .card_info{
  transition: .1s;
  background-color: var(--secondary-color);
}
.card_info > p{
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.card_info > p:first-of-type{
  margin-bottom: 5px;
  font-weight: bold;
}
.card_info > p:not(:first-of-type){
  text-align: end;
}
.card_info input{
  margin-top: 2px;
  padding-left: auto;
  color: var(--primary-color);
  background-color: transparent;
}
.card_info input:focus{
  outline: none;
}
.card_info input[type=url]{
  position: absolute;
  top: -1.6rem;
  right: 0;
  color: var(--secondary-color);
  border-radius: 0 0 3px 3px;
  background-color: rgba(245, 245, 245, 0.2);
  backdrop-filter: blur(5px);
}
.card_info input:nth-of-type(2){
  margin-bottom: 5px;
  font-weight: bold;
}
.card_info input:not([type=url], :nth-of-type(2), [type=number]){
  text-align: end;
}
.card_info input[type=text]:last-of-type{
  position: absolute;
  bottom: -1rem;
  right: 0;
  color: var(--secondary-color);
  font-size: .8rem;
  font-weight: bold;
}
.card_info > input[type=number]{
  text-align: end;
  color: red;
}

.card_bar{
  transition: .3s;
  margin: auto 0 auto auto;
  width: 0;
  height: 2px;
  border-radius: 1px;
  background: var(--primary-color);
}
.card:hover .card_bar{
  transition: .3s;
  width: 80%;
}
.card_note:hover ~ .card_bar{
  background: linear-gradient(to right, var(--green-hue) 25%, var(--orange-hue) 25% 60%, var(--red-hue) 60%);
}

.card_edit{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1px 7px;
  color: var(--white-hue);
  font-size: .8rem;
  font-weight: 700;
  border: 2px solid var(--primary-color);
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  background-color: var(--blue-hue);
  cursor: pointer;
}

.card_note{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -1rem;
  left: -1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: default;
}
.card_note input{
  margin-top: 2px;
  background-color: transparent;
}
.card_note input:focus{
  outline: none;
}

.card_type{
  transition: .1s;
  position: absolute;
  bottom: -1rem;
  right: 0;
  color: var(--tertiary-color);
  font-size: .8rem;
  font-weight: bold;
}
.card:hover .card_type{
  transition: .1s;
  color: var(--secondary-color);
}