:root{
  --primary-color: rgb(25, 25, 25);
  --secondary-color: whitesmoke;
  --tertiary-color: rgb(80, 80, 80);
  --black-hue: rgb(25, 25, 25);
  --white-hue: rgb(245, 245, 245);
  --accent-color: red;
  --violet-hue: violet;
  --blue-hue: blue;
  --green-hue: green;
  --yellow-hue: yellow;
  --orange-hue: orange;
  --red-hue: red;
  
  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 320px;
  min-height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  height: 4rem;
}

@media (max-width: 768px){
  header{
    justify-content: flex-end;
  }
}

h1{
  text-align: center;
  cursor: pointer;
}
h1:hover{
  animation: duplication .2s ease-out forwards;
}

@keyframes duplication{
  from{
    text-shadow: 0 0 0 var(--accent-color);
  }
  to{
    text-shadow: 3px 3px 0 var(--accent-color);
  }
}

@media (max-width: 1024px){
  h1{
    display: none;
  }
}

h2{
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  text-shadow: 0 0 3px var(--black-hue);
}

@media (max-width: 480px){
  h2{
    font-size: 2rem;
  }
}

h3{
  margin: .5rem 0;
  text-align: center;
  font-size: 1.5rem;
}

h4{
  text-align: center;
  font-size: 1.2rem;
}

a{
  color: inherit;
  text-decoration: none;
}

span{
  margin-top: 3rem;
  color: var(--accent-color);
  font-style: italic;
  font-weight: bold;
}

button{
  border: none;
  background-color: transparent;
}

svg{
  width: 24px;
  height: 24px;
  max-height: 24px;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

fieldset{
  padding: 3px 5px;
  border: 2px solid var(--white-hue);
  border-radius: 3px;
}

legend{
  margin: 0 auto;
  padding: 0 5px;
}

input, select{
  color: var(--white-hue);
  border: none;
  background-color: transparent;
}
input:focus{
  outline: none;
}
input[type=text], input[type=url], input[type=search]{
  width: 100%;
  padding: 0 3px;
  font-size: 1rem;
}
input[type=url]{
  width: 14rem;
}
input[type=date]{
  width: fit-content;
  padding: 3px;
}
input[type=number]{
  width: 3rem;
  padding: 3px;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
}
select{
  width: fit-content;
  padding: 3px 5px;
}

mark{
  color: var(--primary-color);
  background-color: var(--accent-color);
}

@media(prefers-color-scheme: light){
  :root{
    --primary-color: whitesmoke;
    --secondary-color: rgb(25, 25, 25);
  }
}