:root{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  --primary-color: rgb(25, 25, 25);
  --secondary-color: whitesmoke;
  --tertiary-color: rgb(80, 80, 80);
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 320px;
  min-height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

h1{
  margin: 1rem 0;
  text-align: center;
}

@media(prefers-color-scheme: light){
  :root{
    --primary-color: whitesmoke;
    --secondary-color: rgb(25, 25, 25);
  }
}
