:root{
  --primary-color: rgb(25, 25, 25);
  --secondary-color: whitesmoke;
  --tertiary-color: rgb(80, 80, 80);
  --black-hue: rgb(25, 25, 25);
  --white-hue: whitesmoke;
  --blue-hue: blue;
  --red-hue: red;
  
  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 320px;
  min-height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

h1{
  margin: 1rem 0;
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  margin-top: 3rem;
  color: var(--red-hue);
  font-style: italic;
}

button{
  border: none;
  background-color: transparent;
}

svg{
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

input, select{
  color: var(--black-hue);
  border: none;
  border-radius: 3px;
  background-color: var(--white-hue);
}
input:focus{
  outline: 2px solid var(--black-hue);
}
input[type=text], input[type=url]{
  width: 100%;
  padding: 0 3px;
  font-size: 1rem;
}
input[type=date]{
  width: fit-content;
  padding: 3px;
}
input[type=number]{
  width: 3rem;
  padding: 3px;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
}
select{
  width: fit-content;
  padding: 3px 5px;
}

@media(prefers-color-scheme: light){
  :root{
    --primary-color: whitesmoke;
    --secondary-color: rgb(25, 25, 25);
  }
}
