.log{
  cursor: pointer;
}

.log_window{
  display: none;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
  position: absolute;
  top: 10vh;
  left: 37.5%;
  width: 25%;
  min-width: 20%;
  height: 75vh;
  padding: 1rem;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 3px;
  background-color: var(--tertiary-color);
}

.log_close{
  position: absolute;
  top: .5rem;
  right: .5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.log_inputs{
  display: flex;
  gap: .5rem;
}

.log_in{
  margin: auto auto 0 auto;
  width: fit-content;
  padding: 3px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  background-color: var(--blue-hue);
  cursor: pointer;
}
.log_in:hover{
  box-shadow: 0 0 3px var(--secondary-color);
}