.log_window{
  display: none;
  flex-direction: column;
  gap: .6rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  height: fit-content;
  padding: 1rem;
  color: var(--white-hue);
  border-radius: 5px;
  background-color: var(--tertiary-color);
  box-shadow: 
    inset  0 0 5px var(--primary-color), 
    0 0 2rem var(--primary-color);
}

.log_close{
  position: absolute;
  top: .5rem;
  right: .5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.log_row{
  display: flex;
  justify-content: space-between;
}

.log_inputs{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.image_preview{
  overflow: hidden;
  margin-top: auto;
  width: 75px;
  height: 35px;
  border-radius: 3px;
  background-color: var(--white-hue);
}
.image_preview img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: center;
}

.log_footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: .5rem;
}

.log_error{
  color: var(--red-hue);
}

.log_buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.log_reset{
  cursor: pointer;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.log_in{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 2px;
  border: none;
  border-radius: 3px;
  background-color: var(--blue-hue);
  cursor: pointer;
}