.search_bar{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 10rem;
  height: fit-content;
  padding: 4px 8px;
  border-radius: 50vh;
  background-color: var(--tertiary-color);
}
.search_bar:focus-within{
  outline: 2px solid var(--red-hue);
}

.search{
  color: whitesmoke;
  background-color: transparent;
}
.search::placeholder{
  color: rgba(245, 245, 245, .5);
}
.search:focus{
  outline: none;
}