.types{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.types button{
  font-size: 1rem;
  font-weight: bold;
}
.types:hover button{
  cursor: pointer;
}

@media (max-width: 600px){
  .types{
    display: none;
  }
}